#
# github
# NOTE: refer `README.md` to generate the token
#
GITHUB_USERNAME="bilalsp"
GITHUB_TOKEN="<SET_GITHUB_TOKEN>"

#
# Container User Info
#
MY_UID=1000
MY_USERNAME=appuser
MY_GID=1000
MY_GROUP=proseva

#
# databases
#
LISTING_DB_USER=admin
LISTING_DB_PASSWORD=IJOfK9Rz9D

#
# network: proseva-private-net
#
PROSEVA_PRIVATE_NET=172.200.0.0/24
